.form{
    display:flex;
    justify-content:center;
    align-items:center;
}
#f1{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f2{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f3{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f4{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f5{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f6{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f7{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f8{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f9{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f10{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f11{
     display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f11{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f12{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f13{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;

}
#f14{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20PX;
}
#f15{
    display:flex;
    justify-content:center;
    align-items:center;}