.vic{background-color:grey;
     border:2px solid black;
     width:800px;
     height:900px;
     margin:auto
    }
#v1{font-size:50px
;color:blue;}

#v2{color: white;}

#v4{color: white;}

#v6{color: white;}

#v7{color: white;}

#v8{color: white;}

#v9{color: white;}