.all{text-align: center;
    color: white;
}

.page{
    background-color: black;
    height: 50px;
    width: 200px;

}
#a1{
    background-color: grey;
    height: 20px;
    width: 510px;
    margin-bottom: 10px;
    
}

#a2{
    background-color: grey;
    height: 30px;
    width: 510px;
    margin-bottom: 10px;
   
}

.page1{
    display: flex;
    column-gap: 10px;
}

#a3{
    background-color: black;
    width:350px ;
    height:120px;
    line-height: 122px;
}

#a4{
    background-color: grey;
    width:150px ;
    height:120px;
    line-height: 122px;
    
}

#a5{
    background-color:darkgray;
    height: 80px;
    width: 510px;
    margin-top: 10px;
    line-height: 111px;
}